@import './index.scss';

#root {
    div[data-for="contents"] {
        display: block;
        position: fixed;
        z-index: 1100;
        width: calc(100% - 4rem); // 4rem menu bar width
        height: 100%;
        background: transparent;
        left: 4rem;
        top: 0;
        bottom: 0;
        right: 0;

        // small devices
        @media screen and (max-width:680px) {
            width: 100%;
            left: 0;
            height: calc(100% - 3.5rem); // 3.5rem menu bar height
        }

        .chats {
            display: grid;
            grid-template-columns: 16rem auto 16rem;
            gap: 1rem;
            margin: 0 1rem;
            height: 100%;

            @media screen and (max-width:900px) {
                grid-template-columns: 16rem auto;
            }

            @media screen and (max-width:680px) {
                display: block;
                gap: 0;
            }

            .mesg_empty {
                top: 0;
                left: 22rem;
                z-index: 1000;
                position: fixed;
                width: calc(100% - 22rem);
                height: 100%;
                background: var(--bg-grey);
                display: flex;
                align-items: center;
                justify-content: center;

                h1 {
                    font-size: small;
                    font-weight: normal;
                    color: var(--text-primary);
                }
            }
        }

        .stories {
            display: grid;
            grid-template-columns: 16rem auto;
            gap: 1rem;
            margin: 0 1rem;
            height: 100%;

            @media screen and (max-width:680px) {
                display: block;
                gap: 0;
            }

            .mesg_empty {
                top: 0;
                left: 22rem;
                z-index: 1000;
                position: fixed;
                width: calc(100% - 22rem);
                height: 100%;
                background: var(--bg-grey);
                display: flex;
                align-items: center;
                justify-content: center;

                h1 {
                    font-size: small;
                    font-weight: normal;
                    color: var(--text-primary);
                }
            }
        }
    }
}