$Text-Secondary: #9ca3af;
$bg-violet: #6b8afd;

:root {
  .light {
    --bg-secondary: #f5f5f7;
    --bg-primary: #fff;
    --text-primary: #333;
    --bg-grey: #f3f4f6;
  }

  .dark {
    --bg-secondary: #131313;
    --bg-primary: #2e333d; //2e333d
    --text-primary: #fff;
    --bg-grey: #393f4b;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-primary);
  box-sizing: border-box;
  font-family: 'Poppins';
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
}