@import '../../index.scss';

@keyframes Loading-FullPage {
    0% {
        rotate: 0deg;
        transform: scale(1)
    }

    10% {
        rotate: 10deg;
    }

    90% {
        transform: scale(1.3);
    }

    100% {
        rotate: 180deg;
        transform: scale(1);
    }
}

@keyframes Loading-FullPage-Inner {
    0% {
        rotate: 180deg;
        transform: scale(1)
    }

    10% {
        rotate: 170deg;
    }

    90% {
        transform: scale(.7)
    }

    100% {
        rotate: 0deg;
        transform: scale(1)
    }
}

#Loading-FullPage {
    position: fixed;
    z-index: 2000;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(130deg, $bg-primary 50%, $bg-dark-grey 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .animation {
        background: transparent;
        width: 3.5rem;
        height: 3.5rem;
        border: 3px solid $bg-violet;
        display: flex;
        align-items: center;
        justify-content: center;
        rotate: 0deg;
        transform: scale(1);
        animation: Loading-FullPage 1s ease-in-out infinite;
        -moz-animation: Loading-FullPage 1s ease-in-out infinite;
    }

    .animation-inner {
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        border: 3px solid $bg-violet;
        rotate: 180deg;
        transform: scale(1);
        animation: Loading-FullPage-Inner 1s ease-in-out infinite;
        -moz-animation: Loading-FullPage-Inner 1s ease-in-out infinite;
    }
}