@import '../../index.scss';

@mixin msgUsrCover {
    display: flex;
    align-items: center;

    img {
        width: 2.5rem;
        height: 2.5rem;
        aspect-ratio: 1/1;
        object-position: center;
        object-fit: cover;
        border-radius: 9999px;
    }

    svg {
        width: 2.1rem;
        height: 2.1rem;
        aspect-ratio: 1/1;
        object-position: center;
        object-fit: cover;
        border-radius: 9999px;
        padding: .2rem;
        border: 2px solid $bg-violet;
        fill: var(--text-primary);
    }
}

.chats {
    .live {
        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100% - 1.5rem);
        overflow: hidden;

        .head {
            display: flex;
            flex-direction: row;
            gap: .8rem;
            align-content: center;

            .cover {
                display: flex;
                align-items: center;

                @media screen and (max-width:900px) {
                    cursor: pointer;
                }

                img {
                    width: 3rem;
                    height: 3rem;
                    aspect-ratio: 1/1;
                    object-position: center;
                    object-fit: cover;
                    border-radius: 9999px; //15px
                }

                svg {
                    width: 2.6rem;
                    height: 2.6rem;
                    aspect-ratio: 1/1;
                    object-position: center;
                    object-fit: cover;
                    border-radius: 9999px;
                    border: 2px solid $bg-violet;
                    padding: .2rem;
                    fill: var(--text-primary);
                }
            }

            .details {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: auto;

                @media screen and (max-width:900px) {
                    cursor: pointer;
                }

                h1 {
                    width: 8rem;
                    font-size: small;
                    font-weight: bold;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: var(--text-primary);
                }

                p {
                    width: 8rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: x-small;
                    color: $Text-Secondary;
                    font-weight: normal;
                    line-height: 1.5rem;
                    text-transform: lowercase;
                }

                @media screen and (max-width:350px) {
                    h1 {
                        width: 5rem;
                    }

                    p {
                        width: 5rem;
                    }
                }
            }

            .actions {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1.5rem;

                button {
                    height: auto;
                    width: auto;
                    border: none;
                    background: none;

                    .svg_path_fill path {
                        fill: $Text-Secondary;
                        transition: all .3s ease-in-out;
                        -moz-transition: all .3s ease-in-out;
                    }

                    &:hover {
                        cursor: pointer;

                        .svg_path_fill path {
                            fill: $bg-violet;
                        }
                    }
                }
            }
        }

        .body {
            display: flex;
            flex-direction: column;
            height: 100%;
            background: var(--bg-grey); //transparent
            margin-top: 1.5rem;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow: hidden;

            .messages {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                height: 100%;
                padding: 1rem;
                overflow-y: auto;
                overflow-x: hidden;
                scrollbar-color: transparent transparent;
                scrollbar-width: 0px;
                scroll-behavior: smooth;

                &::-webkit-scrollbar {
                    width: 0px;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background: transparent;
                }

                .others {
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                    gap: .8rem;

                    .cover {
                        @include msgUsrCover();
                    }

                    .card {
                        position: relative;
                        max-width: 16rem;
                        min-width: 7rem;
                        transition: all .3s ease-in-out;
                        -moz-transition: all .3s ease-in-out;

                        .inner {
                            width: 100%;
                            background: var(--bg-primary);
                            border-radius: 15px;
                            border-top-left-radius: 0;

                            .from {
                                padding: 0 .5rem;
                                padding-top: .5rem;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 1.5rem;

                                p {
                                    color: $Text-Secondary;
                                    font-size: x-small;
                                }

                                .author {
                                    margin-right: auto;
                                    max-width: 5rem;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }

                            .msg {
                                padding: 0 .5rem;
                                padding-bottom: .5rem;
                                font-size: small;
                                color: var(--text-primary);

                                img {
                                    margin-top: .5rem;
                                    border-radius: 10px;
                                    width: 100%;
                                    max-height: 15rem;
                                    height: auto;
                                }
                            }
                        }

                        .actions-msg {
                            position: absolute;
                            z-index: 999;
                            bottom: .2rem;
                            left: 0;
                            background: var(--bg-primary);
                            display: none;
                            flex-direction: row;
                            gap: .5rem;
                            align-items: center;
                            justify-content: center;
                            height: 2rem;
                            width: auto;
                            padding: 0 .5rem;
                            border-radius: 999px;

                            button {
                                background: none;
                                cursor: pointer;
                                border: none;

                                svg {
                                    width: 1.2rem;
                                    height: 1.2rem;
                                    fill: var(--text-primary);
                                }

                                .path_fill {
                                    fill: none;

                                    path {
                                        fill: var(--text-primary);
                                    }
                                }
                            }
                        }

                        &:hover {
                            &:is(.actionable) {
                                padding-bottom: 2.5rem;

                                .actions-msg {
                                    display: flex;
                                }
                            }
                        }
                    }
                }

                .me {
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                    gap: .8rem;

                    .cover {
                        @include msgUsrCover();
                    }

                    .card {
                        position: relative;
                        margin-left: auto;
                        max-width: 16rem;
                        min-width: 7rem;
                        transition: all .3s ease-in-out;
                        -moz-transition: all .3s ease-in-out;

                        .inner {
                            width: 100%;
                            border-radius: 15px;
                            background: $bg-violet;
                            border-top-right-radius: 0;

                            .from {
                                padding: 0 .5rem;
                                padding-top: .5rem;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 1.5rem;

                                p {
                                    color: #f5f5f7;
                                    font-size: x-small;
                                }

                                .author {
                                    margin-right: auto;
                                    max-width: 5rem;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }

                            .msg {
                                padding: 0 .5rem;
                                padding-bottom: .5rem;
                                font-size: small;
                                color: #ffffff;

                                img {
                                    margin-top: .5rem;
                                    border-radius: 10px;
                                    width: 100%;
                                    max-height: 15rem;
                                    height: auto;
                                }
                            }
                        }

                        .actions-msg {
                            position: absolute;
                            z-index: 999;
                            bottom: .2rem;
                            left: 0;
                            background: var(--bg-primary);
                            display: none;
                            flex-direction: row;
                            gap: .5rem;
                            align-items: center;
                            justify-content: center;
                            height: 2rem;
                            width: auto;
                            padding: 0 .5rem;
                            border-radius: 999px;

                            button {
                                background: none;
                                cursor: pointer;
                                border: none;

                                svg {
                                    width: 1.2rem;
                                    height: 1.2rem;
                                    fill: var(--text-primary);
                                }

                                .path_fill {
                                    fill: none;

                                    path {
                                        fill: var(--text-primary);
                                    }
                                }
                            }
                        }

                        &:hover {
                            padding-bottom: 2.5rem;

                            .actions-msg {
                                display: flex;
                            }
                        }
                    }
                }
            }

            .textarea {
                position: relative;
                width: auto;
                background: transparent;
                margin-top: auto;
                display: flex;
                flex-direction: row;
                align-content: center;
                justify-content: center;
                padding: .5rem;
                gap: .5rem;

                .border {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 80%;
                    background: transparent;
                    padding: .2rem .5rem;
                    border-radius: 10px;
                    border: 2px solid var(--bg-primary);

                    input {
                        width: 100%;
                        border-radius: 10px;
                        height: 1.5rem;
                        padding: .5rem;
                        resize: none;
                        outline: none;
                        border: none;
                        background: transparent;
                        scrollbar-color: transparent transparent;
                        scrollbar-width: 0px;
                        color: $Text-Secondary;

                        &::-webkit-scrollbar {
                            width: 0px;
                        }

                        &::-webkit-scrollbar-track {
                            background: transparent;
                        }

                        &::-webkit-scrollbar-thumb {
                            background: transparent;
                        }

                        @media screen and (max-width:680px) {
                            padding: .3rem .5rem;
                        }
                    }

                    button {
                        cursor: pointer;
                        width: auto;
                        height: auto;
                        background: transparent;
                        border: none;
                        border-radius: 10px;

                        .svg_path_stroke path {
                            stroke: $Text-Secondary;
                            transition: all .3s ease-in-out;
                            -moz-transition: all .3s ease-in-out;
                        }

                        .svg_fill {
                            fill: $Text-Secondary;
                            transition: all .3s ease-in-out;
                            -moz-transition: all .3s ease-in-out;
                        }

                        &:hover {
                            .svg_path_stroke path {
                                stroke: $bg-violet;
                            }

                            .svg_fill {
                                fill: $bg-violet;
                            }
                        }
                    }
                }
            }
        }
    }

    .details-chat {
        padding-top: 1.5rem;
        height: calc(100% - 1.5rem);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;

        .scrollable {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: 100%;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            scroll-behavior: smooth;
            scrollbar-color: transparent transparent;
            scrollbar-width: 0px;

            &::-webkit-scrollbar {
                width: 0px;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: transparent;
            }

            .basic {
                width: 100%;
                text-align: center;

                .cover {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 5rem;
                        width: 5rem;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 9999px;
                        cursor: pointer;
                    }

                    svg {
                        height: 4.6rem;
                        width: 4.6rem;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 9999px;
                        padding: .2rem;
                        border: 2px solid $bg-violet;
                        fill: var(--text-primary);
                    }
                }

                h1 {
                    font-size: medium;
                    font-weight: normal;
                    color: var(--text-primary);
                }

                .status {
                    font-size: x-small;
                    font-weight: normal;
                    color: $Text-Secondary;
                }

                .description {
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: left;
                    text-align: left;

                    h1 {
                        font-size: small;
                        margin: .5rem 0;
                    }

                    p {
                        font-size: x-small;
                        font-weight: normal;
                        color: $Text-Secondary;
                    }
                }

                .more_actions {
                    display: flex;
                    flex-direction: row;
                    margin: .5rem 0;

                    button {
                        margin: auto;
                        border: none;
                        background: var(--bg-grey);
                        height: 30px;
                        width: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 5px;
                        transition: all .3s ease-in-out;
                        -moz-transition: all .3s ease-in-out;

                        .path_svg_stroke,
                        .svg_path_fill {
                            path {
                                transition: all .3s ease-in-out;
                                -moz-transition: all .3s ease-in-out;
                                fill: var(--text-primary) !important;
                            }
                        }

                        .svg_fill {
                            transition: all .3s ease-in-out;
                            -moz-transition: all .3s ease-in-out;
                            fill: var(--text-primary);
                        }

                        &:hover {
                            cursor: pointer;

                            .path_svg_stroke,
                            .svg_path_fill {
                                path {
                                    fill: $bg-violet !important;
                                }
                            }

                            .svg_fill {
                                fill: $bg-violet;
                            }
                        }
                    }
                }
            }

            .media {
                padding-top: 1.5rem;
                margin-bottom: .5rem;
                border-top: 1px solid var(--bg-grey);

                h1 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: medium;
                    font-weight: normal;
                    color: var(--text-primary);
                    margin-bottom: 1rem;

                    svg {
                        rotate: 100deg;
                        width: 20px;
                        height: 20px;
                        fill: $Text-Secondary;
                        margin-right: .5rem;
                    }

                    span {
                        margin-left: auto;
                        color: $bg-violet;
                    }
                }

                .grid {
                    display: grid;
                    gap: .5rem;
                    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));

                    img {
                        border-radius: 10px;
                        width: 100%;
                        height: auto;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                button {
                    color: $bg-violet;
                    font-size: x-small;
                    text-transform: uppercase;
                    font-weight: normal;
                    border: none;
                    background: transparent;
                }
            }

            .members {
                margin-bottom: .5rem;

                .top {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    h1 {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        font-size: medium;
                        font-weight: normal;
                        color: var(--text-primary);
                        margin-bottom: 1rem;

                        svg {
                            margin-right: .5rem;
                            fill: $Text-Secondary;

                            path {
                                fill: $Text-Secondary;
                            }
                        }

                        span {
                            margin-left: .5rem;
                            color: $bg-violet;
                            font-size: small;
                        }
                    }

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: auto;
                        width: 15px;
                        height: 15px;
                        border-radius: 9999px;
                        background: $bg-violet;
                        border: none;
                        cursor: pointer;

                        svg {
                            height: 10px;
                            width: 10px;

                            path {
                                fill: #fff;
                            }
                        }
                    }
                }

                .list {
                    display: flex;
                    flex-direction: column;
                    gap: .7rem;

                    .member {
                        position: relative;
                        background: transparent;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: .8rem;
                        transition: all .5s ease-in-out;
                        -moz-transition: all .5s ease-in-out;

                        .cover {
                            display: flex;
                            align-items: center;

                            img {
                                width: 2rem;
                                height: 2rem;
                                aspect-ratio: 1/1;
                                object-position: center;
                                object-fit: cover;
                                border-radius: 9999px; //15px
                            }
                        }

                        .content {
                            h1 {
                                width: 4rem;
                                font-size: small;
                                font-weight: 500;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                color: var(--text-primary);
                            }
                        }

                        .role {
                            background: $bg-violet;
                            font-size: x-small;
                            color: #fff;
                            padding: .1rem .3rem;
                            border-radius: 999px;
                            margin-left: auto;
                        }

                        button {
                            background: red;
                            font-size: x-small;
                            color: #fff;
                            padding: .2rem .5rem;
                            border-radius: 999px;
                            margin-left: auto;
                            border: none;
                            cursor: pointer;
                            display: none;
                        }

                        &:is(.user) {
                            &:hover {
                                button {
                                    display: block;
                                }

                                .role {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

        }

        &:is(.modal-details-chat) {
            position: fixed;
            z-index: 999;
            top: 0;
            background: var(--bg-primary);
            padding: 0 3rem;
            padding-left: 2rem;
            padding-top: 1.5rem;
            height: calc(100% - 1.5rem);
            bottom: 0;

            @media screen and (max-width:680px) {
                left: 0;
                right: 0;
                padding-left: 3rem;
            }

            .exit {
                margin-left: auto;

                button {
                    background: transparent;
                    border: none;
                    cursor: pointer;

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;

                        path {
                            fill: var(--text-primary);
                        }
                    }
                }
            }
        }
    }
}