@import '../../index.scss';

#all-users {
    padding-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 1.5rem);
    overflow: hidden;
    position: relative;

    .search {
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        .svg_path {
            padding-left: .5rem;
            position: absolute;

            path {
                fill: $Text-Secondary;
            }
        }

        input {
            width: 100%;
            padding: .8rem;
            padding-left: 2.5rem;
            background: var(--bg-grey);
            border: none;
            border-radius: 15px;
            outline: none;
            color: $Text-Secondary;
        }

        input::placeholder {
            color: $Text-Secondary;
        }

        @media screen and (max-height:600px) {
            margin-bottom: 1rem;
        }
    }

    .title {
        margin: 0 .5rem;
        margin-bottom: 1rem;

        h1 {
            color: var(--text-primary);
            font-size: x-large;
            font-weight: 500;

            span {
                color: $bg-violet;
            }
        }

        @media screen and (max-height:600px) {
            margin-bottom: .5rem;
        }
    }

    .list {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        overflow-y: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
        scrollbar-color: transparent transparent;
        scrollbar-width: 0px;
        margin-bottom: auto;
        padding-bottom: .5rem;
        // selection remove
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &::-webkit-scrollbar {
            width: 0px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: transparent;
        }

        .card {
            position: relative;
            background: transparent;
            border-radius: 15px;
            padding: .5rem;
            width: calc(100% - 1rem);
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .8rem;
            transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            cursor: pointer;

            &:is(.active) {
                background: var(--bg-grey);
            }

            &:hover {
                background: var(--bg-grey);
            }

            .count {
                position: absolute;
                right: .7rem;
                z-index: 500;
                border: none;
                background: $bg-violet;
                width: 1.3rem;
                height: 1.3rem;
                border-radius: 9999px;
                font-size: 11px;
                color: #ffffff;
                cursor: pointer;
            }

            .cover {
                display: flex;
                align-items: center;
                position: relative;

                img {
                    width: 3rem;
                    height: 3rem;
                    @include coverImg;
                }

                svg {
                    width: 2.6rem;
                    height: 2.6rem;
                    padding: .2rem;
                    border: 1px solid $bg-violet;
                    fill: var(--text-primary);
                    @include coverImg;
                }

                div[data-for="status"] {
                    height: 10px;
                    width: 10px;
                    border-radius: 9999px;
                    background: #50C878;
                    position: absolute;
                    right: 0;
                    bottom: .2rem;
                }
            }

            .content {
                h1 {
                    width: 8rem;
                    font-size: small;
                    font-weight: 500;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: var(--text-primary);
                }

                p {
                    width: 8rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: x-small;
                    color: $Text-Secondary;
                    font-weight: normal;
                    line-height: 1.5rem;
                }
            }
        }
    }

    button[data-for="group_create_btn"] {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $bg-violet;
        border-radius: 1rem;
        border-top-right-radius: 0;
        background: linear-gradient(to right, $bg-violet 50%, var(--bg-primary) 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        cursor: pointer;
        bottom: .5rem;
        right: 0;
        position: absolute;
        z-index: 500;
        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;

        &:hover {
            background-position: left bottom;

            svg path {
                fill: var(--bg-primary);
            }
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
            pointer-events: none;

            path {
                fill: $bg-violet;
                transition: all .5s ease-in-out;
                -moz-transition: all .5s ease-in-out;
            }
        }
    }
}